body{margin:0;padding:0;color:#000;font-family:'Raleway',sans-serif}.not-container{position:relative;height:100%;background-image:url(../img/surfing.png);background-repeat:no-repeat;background-position:top;background-size:cover;padding-bottom:15%}.not-container::after{content:"";position:absolute;bottom:0;width:100%;height:27%;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(28%,transparent),color-stop(79%,#fff));background-image:-webkit-linear-gradient(top,transparent 28%,#fff 79%);background-image:-o-linear-gradient(top,transparent 28%,#fff 79%);background-image:linear-gradient(to bottom,transparent 28%,#fff 79%);background-repeat:no-repeat;background-position:bottom;background-size:100%}.wrapper{width:100%;max-width:1170px;margin:0 auto;padding-top:30px}.visually-hidden{position:absolute;width:1px;height:1px;margin:-1px;border:0;padding:0;clip:rect(0 0 0 0);overflow:hidden}.main-header{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around;margin-bottom:9%}.site-logo{font-family:Montserrat;font-weight:700;font-size:34px;letter-spacing:-1.03px;color:#000;text-decoration:none}.main-navigation-list{position:relative;z-index:2;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0;padding:0;list-style:none}.nav-item{display:block;padding:2px 9px}.nav-item:not(:last-child){margin-right:7px}.nav-item:focus,.nav-item:hover{background-color:#00b0ff}.nav-item a{color:#000;text-decoration:none;font-family:Montserrat;font-size:14px;font-weight:700;text-transform:uppercase}.nav-item:focus a[href],.nav-item:hover a[href]{color:#fff}.header-socials{position:relative;z-index:10;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;padding:0;list-style:none}.social{text-decoration:none;display:block;margin-left:10px;border-radius:50%;background-color:#000;padding:20px}.social:focus,.social:hover{background-color:#fff}.social:focus path,.social:hover path{fill:#000}.social-fb{padding:13px 18px}.social-inst{padding:12px 14px}.social-mail{padding:12.5px}.main-title,.title-motto{font-family:"Playfair Display";font-style:italic}.main-title{margin:0;word-wrap:break-word;font-size:4em}.title-motto{display:inherit;text-shadow:0 3px 15px rgba(0,0,0,.64);color:#fff;font-size:2em}.main-title,.title-motto{text-align:center}.boards-article{position:relative;top:-18em;z-index:2;max-width:90%;margin:8% auto 11%}.container-title{margin:0;color:#000;opacity:.03;font-family:Montserrat;font-size:8em;font-weight:700;text-transform:uppercase}.article-title{display:inline-block;position:absolute;z-index:2;left:calc(100% - 370px);top:37%;text-align:center;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);letter-spacing:8.7px}.board-card,.preview-photo-container{display:-webkit-box;display:-ms-flexbox;display:flex}.board-card{max-width:100%;background-image:-webkit-linear-gradient(329deg,#00d2ff 26%,#fff 26%);background-image:-o-linear-gradient(329deg,#00d2ff 26%,#fff 26%);background-image:linear-gradient(121deg,#00d2ff 26%,#fff 26%);-webkit-box-shadow:-2px 0 30px -8px #000;box-shadow:-2px 0 30px -8px #000}.preview-photo-container{width:100%}.big-image{max-width:100%}.preview-photo-small{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-item-align:center;align-self:center}.preview-photo-small img{margin-bottom:3px}.preview-photo-small .current-img{-webkit-box-shadow:0 0 0 3px #00b0ff;box-shadow:0 0 0 3px #00b0ff}.preview-photo-small img:not(.current-img){-webkit-box-shadow:0 0 0 1px #ccc;box-shadow:0 0 0 1px #ccc}.article-layout,.nav-thumbflip{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}.article-layout{max-width:45%;margin-right:5%;position:relative;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.nav-thumbflip{position:absolute;-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;z-index:3;right:-3%;top:0}.nav-thumbflip a{display:inline-block;padding:9px 6px 9px 12px;text-decoration:none;border:0;background-color:#f2d800}.btn-next:hover path,.btn-prev:hover path,.icon{fill:#fff}.nav-thumbflip .slide-num{position:absolute;top:100%;left:-20%;color:#fff;background-color:#000;padding:13px 9px;font-weight:700}.board-card h3,.rating-num{font-family:"Montserrat";font-weight:700}.board-card h3{margin:0;word-break:break-word;line-height:1.3;font-size:20px}.rating{max-width:45%;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;margin:5% 0 10%}.rating svg{margin-right:5px}.rating-num{font-size:12px;color:#787878}.product-info{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;list-style:none;font-family:Raleway;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:.7px;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#d9d9d9));background-image:-webkit-linear-gradient(top,#fff,#d9d9d9);background-image:-o-linear-gradient(top,#fff,#d9d9d9);background-image:linear-gradient(to bottom,#fff,#d9d9d9);background-repeat:no-repeat;background-size:100% 3px;background-position:bottom}.product-info li:not(:last-child){margin-right:25px}.product-info .current-link{display:inline-block;color:#000;padding-bottom:10px;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#068dca));background-image:-webkit-linear-gradient(top,#fff,#068dca);background-image:-o-linear-gradient(top,#fff,#068dca);background-image:linear-gradient(to bottom,#fff,#068dca);background-size:100% 4px;background-repeat:no-repeat;background-position:bottom}.product-info a{color:#a0a0a0;text-decoration:none}.description{margin:20px 0 30px;color:#787878;font-family:"Raleway";font-size:16px;font-weight:400;line-height:24px}.sml-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:80px}.price{font-size:24px;color:#000;font-family:"Montserrat";font-weight:700}.button{color:#fff;font-size:14px;font-weight:700;text-transform:uppercase;letter-spacing:1.4px;border:0;background-color:#00b0ff;padding:13px 20px;margin-left:24px}.button:hover{cursor:pointer}.more-info{font-size:16px;color:#00b0ff;font-family:"Montserrat";font-weight:700;text-decoration:none;width:130px;padding-bottom:6px;background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#00b0ff));background-image:-webkit-linear-gradient(top,#fff,#00b0ff);background-image:-o-linear-gradient(top,#fff,#00b0ff);background-image:linear-gradient(to bottom,#fff,#00b0ff);background-repeat:no-repeat;background-size:100% 4px;background-position:bottom}.about-us{position:relative;background:url(../img/about-us.jpg) no-repeat;background-size:contain;margin-bottom:5%}.about-us .container-title{position:relative;top:-111px;text-align:center}.info-container{max-width:67%;position:relative;margin-top:5%;z-index:1;background-color:#fff;text-align:right}.info-container-title{position:relative;display:inline-block;margin:95px 0 60px;font-size:18px;font-weight:700;text-transform:uppercase;font-family:"Montserrat";letter-spacing:2.52px;text-align:center;word-break:break-word}.pretty-cross::after,.pretty-cross::before{content:"";position:absolute;left:50%;top:43px;width:17px;height:2px;background-color:#000}.pretty-cross::before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.pretty-cross::after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.info,.video{margin-left:auto}.info{margin-right:5%;text-align:center;padding-bottom:5%;max-width:370px}.info p{margin:0 0 25px;font-family:"Playfair Display";font-size:22px;font-style:italic;line-height:38px;text-align:left;word-break:break-word;overflow:hidden}.info .more-info{margin-right:272px}.video{top:-20em;max-width:500px;position:relative;z-index:1}.video img{max-width:100%}.video::after,.video::before{content:"";position:absolute;border-radius:50%}.video::after{background-color:transparent;border:1px solid #fff;top:27%;left:35%;width:140px;height:140px}.video::before{top:35%;left:40%;width:90px;height:90px;background-image:url(../img/play.svg);background-repeat:no-repeat}.our-team{max-width:1170px;position:relative;margin:-185px auto 19%;text-align:center}.our-team .container-title{letter-spacing:11px;font-size:13em}.nav-slide,.team-cards{display:-webkit-box;display:-ms-flexbox;display:flex}.team-cards{max-width:990px;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;margin:0 auto;padding:0;list-style:none;position:relative;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.nav-slide{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;height:50px;position:absolute}.btn-next,.btn-prev{-webkit-box-sizing:border-box;box-sizing:border-box;top:4em;width:50px;height:50px;padding:14px;border-radius:50%;text-decoration:none;-webkit-box-shadow:0 10px 58px -12px #000;box-shadow:0 10px 58px -12px #000;background-color:#fff}.btn-next:hover,.btn-prev:hover{background-color:#00b0ff}.round{border-radius:50%}.team-card{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;max-width:148px;padding:3% 13%;border-radius:5px;-webkit-box-shadow:0 10px 58px -12px #000;box-shadow:0 10px 58px -12px #000;background-color:#fff}.team-card:nth-child(odd){top:-78px;margin-right:22%;z-index:1}.team-card:nth-child(even){position:absolute;z-index:2}.team-card:nth-child(2){left:26%;top:-60px}.team-card:nth-child(4){right:-1%;top:-18%}.team-card .name{display:inline-block;margin-top:13px;text-decoration:none;color:#00b0ff;font-size:18px;font-weight:400}.separator{position:absolute;bottom:25%}.separator-line{stroke:#000;stroke-width:2px;fill:none}.team-card .location{position:relative;display:inline-block;margin-top:2em}.location::before{content:"";position:absolute;left:-14px;width:11px;height:14px;background:url(../img/pin.png) no-repeat}.latest-updates-list p,.main-socials-instagram span,.team-card .location,.team-card .username{color:#8c8c8c;font-family:Raleway;font-size:14px;font-weight:400}.team-card:hover{background-color:#00b0ff;cursor:pointer}.team-card:hover .location,.team-card:hover .username{color:#8be7ff}.team-card:hover .name{color:#fff}.team-card:hover .location::before{background:url(../img/pin-hover.png) no-repeat}.team-card:hover .separator-line{stroke:#02f}.team-card:hover .round{-webkit-box-shadow:0 0 0 2px #fff;box-shadow:0 0 0 2px #fff}.latest-updates{position:relative;margin-bottom:170px}.latest-updates h3{margin:0 0 66px;text-align:center;font-family:"Montserrat";font-size:18px;letter-spacing:2.52px;text-transform:uppercase}.latest-updates-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 0 40px;padding:0;list-style:none}.updates-list-card{width:269px;margin-right:25px}.updates-list-card:hover{-webkit-box-shadow:0 10px 58px -12px #000;box-shadow:0 10px 58px -12px #000;cursor:pointer}.updates-list-card:hover p{color:#02f}.latest-updates-list p{margin:0;padding:25px 35px 25px 22px;color:#787878;font-size:16px;line-height:24px}.latest-updates .button{display:block;margin:auto}.bottom-inst{margin-top:-25px;padding:20px 0 20px 20px;background-color:#fff}.instagram-link{text-decoration:none;color:#00b0ff;font-size:24px;font-weight:700;text-transform:uppercase}.main-social{max-width:1170px;position:relative;margin:0 auto 200px}.instargam-gallery{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;position:relative;top:-25px}.main-socials-instagram{position:absolute;z-index:10;max-width:620px;width:100%}.main-socials-instagram .container-title{font-size:7em}.instagram-link::before{content:"";position:absolute;left:21px;width:28px;height:28px;background:url(../img/logo-inst.svg) no-repeat}.instagram-link{margin:0 12px 0 50px}.main-socials-instagram span{color:#000;font-size:16px}.main-socials-facebook::before{content:"";width:155px;height:35px;position:absolute;left:50%;margin-left:-75px;top:30px;background:url(../img/logo-fb.svg) no-repeat}.main-socials-facebook{position:relative;top:122px;left:-60px;margin-left:auto;padding:95px 45px 45px;margin-bottom:60px;-webkit-box-sizing:border-box;box-sizing:border-box;max-width:440px;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(50%,#385490),color-stop(50%,#e5e5e5));background-image:-webkit-linear-gradient(top,#385490 50%,#e5e5e5 50%);background-image:-o-linear-gradient(top,#385490 50%,#e5e5e5 50%);background-image:linear-gradient(to bottom,#385490 50%,#e5e5e5 50%)}.facebook-container-row1{position:relative;background:url(../img/fb-bg.jpg) no-repeat;background-size:cover}.row1{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:34px}.info-fb{width:100px;margin:16px 7px 0}.facebook-likes{position:relative;top:-5px}.facebook-icon{display:block;width:50px;padding:13px 0;margin-left:7px;margin-top:7px;color:#fff;font-size:12px;font-weight:700;line-height:12px;text-transform:uppercase;text-align:center;background-color:#00b0ff;border:2px solid #fff;-webkit-box-shadow:0 0 20px 0 #000;box-shadow:0 0 20px 0 #000}.facebook-container-row1 p,.facebook-likes{text-shadow:1px 2px 6px rgba(0,0,0,.62);color:#fff;font-weight:400}.facebook-container-row1 p{margin:0;display:inline-block;font-size:18px}.facebook-likes{font-size:12px;letter-spacing:.24px}.action{display:inline-block;padding:5px 6px 5px 25px;font-size:12px;font-weight:700;color:#4b4f56;background-color:#f6f7f9;border:0}.action-like,.action-share{background-repeat:no-repeat;background-position-y:40%;background-position-x:10%}.action-like{margin-left:7px;margin-right:50%;margin-bottom:9px;background-image:url("../img/FB icon.jpg")}.action-share{background-image:url(../img/share-icon.jpg)}.facebook-container-row2{padding:6px;background-color:#f6f7f9}.facebook-gallery{padding:9px;background-color:#fff}.gallery-img{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}.facebook-gallery p{margin:0;padding-bottom:6px;color:#4b4f56;font-size:12px;font-weight:400}.main-footer{background-color:#000;position:relative}.footer-container{max-width:1170px;margin:0 auto}.footer-copyright{padding-top:20%;padding-bottom:10%}.footer-copyright span{color:#8a8a8a;font-size:12px;font-weight:400}.footer-copyright .author{margin-left:25px;position:relative}.author::before{content:"";position:absolute;top:5px;left:-16px;width:5px;height:5px;background-color:#8a8a8a;border-radius:50%}.footer-links{position:absolute;top:10%;left:60%;max-width:380px}.footer-links-list li:first-child{margin-right:8em}.footer-links-list{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-height:144px;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;list-style:none}.footer-links-list::after,.footer-links-list::before{content:"";position:absolute;width:19px;height:108px;background:url(../img/footer-waves.png) no-repeat}.footer-links-list::before{top:10%;left:-22%}.footer-links-list::after{top:10%;right:13%}.footer-links-list a{text-decoration:none;color:#fff;font-family:Raleway;font-size:14px;font-weight:400;line-height:34px}.footer-mailing{position:absolute;bottom:13%;right:30%}.footer-mailing h3{margin:0;color:#fff;font-size:16px}.footer-mailing input[type=text]{max-width:300px;padding-left:30px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#000;border:0;border-bottom:1px solid #8a8a8a;padding-top:20px;padding-bottom:7px;background:url(../img/footer-mail-icon.svg) no-repeat 0 21px}.footer-mailing button{position:relative;top:-7px;left:-23px;border:0;background-color:#00b0ff;background-image:url(../img/button.svg);background-repeat:no-repeat;background-position:4px;padding:10px;border-radius:50%}
/*@media*/
@media screen and (max-width: 940px) {
    .main-navigation {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-top: 5%;
    }

    .main-header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 96%;
    }
}

*@media screen and (max-width: 1100px) {
    .team-cards {
		max-width: 500px;
}
}

@media screen and (max-width: 550px) {
    .team-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .team-card:nth-child(odd) {
        top: 0px;
        margin-right: 0;
    }

    .team-card:nth-child(even) {
        position: static;
    }

    .team-card:nth-child(2) {
        left: 0;
        top: 0px;
    }

    .team-card:nth-child(4) {
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 1020px ) {
    .board-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 30%;
    }

    .not-container {
        background-size: auto;
    }

    .article-layout {
        max-width: 90%;
    }

    .preview-photo-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-thumbflip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        right: 0%;
        top: 1%;
    }

    .nav-thumbflip .slide-num {
        top: 20%;
        left: -158%;
    }
}

@media screen and (max-width: 636px) {
    .about-us .container-title {
        font-size: 7em;
    }

    .main-socials-instagram .container-title {
        font-size: 6em;
    }

    .our-team .container-title {
        font-size: 10em;
    }

    .about-us {
        margin-bottom: 26%;
    }
}

@media screen and (max-width: 540px) {
    .boards-article {
        top: -9em;
    }

    .info-container {
        max-width: 100%;
    }

    .info-container p {
        text-align: center;
    }

    .info .more-info {
        margin-right: 0;
    }

    .about-us .container-title,
	.our-team .container-title,
	.main-socials-instagram .container-title {
        font-size: 5em;
    }
}

@media screen and (max-width: 1057px) {

    .main-socials-facebook {
        margin: 0 auto;
        width: 100%;
        left: 0;
    }

    .main-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .main-socials-instagram {
        position: static;
    }

    .instagram-link::before {
        left: 21%;
    }

    .footer-copyright {
        padding-left: 10%;
    }

    .footer-links {
        left: 48%;
    }

    .footer-mailing {
        position: static;
        padding-left: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 1324px) {
    .video {
        top: 0;
    }

    .about-us {
        margin-bottom: 18%;
    }
}

@media screen and (max-width: 838px) {
    .about-us {
        margin-bottom: 32%;
    }
}

@media screen and (max-width: 530px) {
    .about-us {
        margin-bottom: 52%;
    }
}

@media screen and (max-width: 364px) {
    .about-us {
        margin-bottom: 62%;
    }
}

@media screen and (max-width: 433px) {
    .action-like {
        margin-right: 0;
    }
}

@media screen and (max-width: 680px) {
    .footer-links {
        position: static;
        padding: 0 0 10% 10%;
    }

    .footer-links-list::before {
        left: -10%;
    }

    .footer-links-list::after {
        right: 43%;
    }
}

@media screen and (max-width: 483px) {
    .about-us .container-title,
	.our-team .container-title,
	.main-socials-instagram .container-title {
        font-size: 4em;
    }

    .info {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .preview-photo-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .preview-photo-small {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 10%;
    }
}